/* ==========================================================================
   Dark skin
   ========================================================================== */

/* Colors */
$background-color: #1B1B1B !default;
$text-color: #BAB7C2 !default;
$primary-color: #090909 !default;
$border-color: #090909 !default;
$code-background-color: mix(#000, $background-color, 15%) !default;
$code-background-color-dark: mix(#000, $background-color, 20%) !default;
$form-background-color: mix(#000, $background-color, 15%) !default;
$footer-background-color: mix(#000, $background-color, 30%) !default;
$link-color: #a42e2e !default;
$link-color-hover: #b16a6a !default;
$link-color-visited: #b16a6a !default;
$masthead-link-color: #090909 !default;
$masthead-link-color-hover: #a42e2e !default;
$navicon-link-color-hover: #a42e2e !default;


.author__urls.social-icons .svg-inline--fa,
.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}

.ais-search-box .ais-search-box--input {
  background-color: $form-background-color;
}
