/* hexagon button */

/*left*/
.hexleft::before {
    content: " ";
    float: left;
    width: 0;
    height: 0;
    border-right: 60px solid #111211;
    border-top: 120px solid transparent;
    border-bottom: 120px solid transparent;
    position: relative;
    left: -60px;
}

.hexleft {
    float: left;
    margin-top: 0px;
    width: 140px;
    height: 240px;
    background-color: #111211;
    position: relative;


    font-family: $helvetica;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 0;
}

.hexleft::after {
    content: "";
    float: left;
    width: 0;
    border-left: 60px solid #111211;
    border-top: 120px solid transparent;
    border-bottom: 120px solid transparent;
    position: relative;
    right: -80px;
}

/*middle*/
.hexmid::before {
    content: " ";
    float: left;
    width: 0;
    height: 0;
    border-right: 60px solid #111211;
    border-top: 120px solid transparent;
    border-bottom: 120px solid transparent;
    position: relative;
    left: -60px;
}

.hexmid {
    float: left;
    margin-top: 130px;
    width: 140px;
    height: 240px;
    background-color: #111211;
    position: relative;

    font-family: $helvetica;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 0;
}

.hexmid::after {
    content: "";
    float: left;
    width: 0;
    border-left: 60px solid #111211;
    border-top: 120px solid transparent;
    border-bottom: 120px solid transparent;
    position: relative;
    right: -80px;
}

/*right*/
.hexright::before {
    content: " ";
    float: left;
    width: 0;
    height: 0;
    border-right: 60px solid #111211;
    border-top: 120px solid transparent;
    border-bottom: 120px solid transparent;
    position: relative;
    left: -60px;
}

.hexright {
    float: left;
    margin-top: 0px;
    width: 140px;
    height: 240px;
    background-color: #111211;
    position: relative;
    font-family: $helvetica;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 0;
}

.hexright::after {
    content: "";
    float: left;
    width: 0;
    border-left: 60px solid #111211;
    border-top: 120px solid transparent;
    border-bottom: 120px solid transparent;
    position: relative;
    right: -80px;
}

.hex-row {
    clear: left;
}
.hex.even {
    margin-top: 130px;
}
