#otis li {
  list-style-type: none;
}
.timeline li {
  position: relative;
  padding: 20px;
}
.timeline:before
{
  content: '';
  position: absolute;
  left: 50%;
  width: 3px;
  height: 70%;
  background: #BAB7C2;
}
.timeline li::after {
  content: '';
  position: absolute;
  left: 40%;
  bottom: 0;
  width: 30px;
  height: 30px;
}
.timeline li:nth-child(odd){
  width:40%;
  float:left;
  clear:right;
  text-align:right;
  position:relative;
  margin-left: 0px;
  margin-top: 0px;
}
.timeline li:nth-child(even){
  width:40%;
  float:right;
  clear:left;
  text-align:left;
  position:relative;
  margin-right: 30px;
  margin-top: 0px;
}
.timeline li:nth-child(odd):after,
.timeline li:nth-child(even):before{
  width: 24px;
  height: 24px;
  background-size: 100% 100%;
}
/*.timeline li:nth-child(even) :before {
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #BAB7C2;
  position: absolute;
  left: -24.15%;
  top: 40%;
}
.timeline li:nth-child(odd) :before {
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #BAB7C2;
  position: absolute;
  right: -21.45%;
  top: 40%;
}*/
