body
{
  margin: 0;
  padding: 0;
  background: #121418;
}

.arrow
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.arrow span
{
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 1px solid #F7A6B1;
  border-right: 1px solid #F7A6B1;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}

.arrow span: nth-child(2)
{
  animation-delay: -0.2s
}

.arrow span: nth-child(3)
{
  animation-delay: -0.4s
}

@keyframes animate
{
  0%
  {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50%
  {
    opacity: 1;
  }
  100%
  {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}
